<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center text-success font-bold border mt-5">AAAAA Kensye!</h1>
            

            {% for prod in products %}
            
            <div class="col-4">

                <div class="card">
                    <div class="card bg-"><img class="card-img" src="{{ url_for('serve_image', product_id=prod.id)}}" alt=""></div>
                    <div class="card-body">
                        <h2 class="card-title">{{prod.name}}</h2>
                        <div class="card-subtitle">{{prod.description}}</div>
                        <div class="card-subtitle">{{prod.price}}</div>
                    </div>
                    <a href="{{ url_for('updateprod', id=prod.id)}}" class="btn btn-primary" type="submit">Update</a>
                    <button class="btn btn-primary" type="submit">Add to Cart!</button>

                </div>

            </div>

            {% endfor %}

            <div class="col-4">

                <div class="card">
                    <div class="card"><img class="card-img" src="{{ url_for('static', filename = 'Screenshot_20250108-064918.png')}}" alt=""></div>
                    <div class="card-body">
                        <h2 class="card-title">Ecom</h2>
                        <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vitae, quasi, culpa aspernatur maiores similique ea expedita est, veritatis tempora adipisci ipsa sit nam qui temporibus amet corporis voluptate provident.</div>
                    </div>
                </div>

            </div>

            <div class="col-4">

                <div class="card">
                    <div class="card"><img class="card-img" src="{{ url_for('static', filename = 'Screenshot_20250108-064918.png')}}" alt=""></div>
                    <div class="card-body">
                        <h2 class="card-title">Ecom</h2>
                        <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vitae, quasi, culpa aspernatur maiores similique ea expedita est, veritatis tempora adipisci ipsa sit nam qui temporibus amet corporis voluptate provident.</div>
                    </div>
                </div>

            </div>

            <div class="col-4">

                <div class="card">
                    <div class="card"><img class="card-img" src="{{ url_for('static', filename = 'Screenshot_20250108-064918.png')}}" alt=""></div>
                    <div class="card-body">
                        <h2 class="card-title">Ecom</h2>
                        <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vitae, quasi, culpa aspernatur maiores similique ea expedita est, veritatis tempora adipisci ipsa sit nam qui temporibus amet corporis voluptate provident.</div>
                    </div>
                </div>

            </div>

            <div class="col-4">

                <div class="card">
                    <div class="card"><img class="card-img" src="{{ url_for('static', filename = 'Screenshot_20250108-064918.png')}}" alt=""></div>
                    <div class="card-body">
                        <h2 class="card-title">Ecom</h2>
                        <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vitae, quasi, culpa aspernatur maiores similique ea expedita est, veritatis tempora adipisci ipsa sit nam qui temporibus amet corporis voluptate provident.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>